#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  touch-action: none;
}

.App {
  width: 100dvw;
}

#svg-wrapper {
  position: relative;
  z-index: 0;
}

.svg-wrapper-overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 20px;
  left: 20px;
}

.mini-map {
  position: relative;
  height: 127px;
  outline: 1px solid #555;
  border-radius: 5px;
}

#mini-map-canvas {
  width: 170px;
  height: 100%;
}

.mini-map-overlay {
  border-radius: 5px;
  position: absolute;
  top: 0;
  background: white;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
